
img {
    width: 250px;
    height: auto;
    margin-bottom:25px;
    border-style: dashed;
    border-color: brown;
    border-radius: 5px;
    border-width: 2px;
  }
.sidebar-left {
    width: 315px;
    height: 1000px;
    float: left;
    background-color: yellow;
    border-width: 2px;
    border-style: dotted;
    border-color: brown;
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
}


.column {
    width: 300px;
    float: left;
    border-color: brown;
    border-radius: 5px;
    border-style: dotted;
    border-width: 2px;
    padding:25px;
    margin: 10px;
    
}
.center{
    text-align: center;
}
.inline{
    display:inline-block;
}
body{
    padding: 0px;
}
h1{
    text-align: center;
    margin-left: 10px;
    border-style: solid;
    border-color: brown;
    border-radius: 5px;
    border-width: 1px;
    width: 315px;
}